aiofiles==25.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiosignal==1.4.0
annotated-doc==0.0.4
annotated-types==0.8.0
anyio==4.13.0
asgiref==3.11.1
attrs==26.1.0
bidict==0.23.1
cbor2==6.1.4
certifi==2026.4.22
cffi==2.1.1
click==8.3.3
colorama==0.4.6
cryptography==50.0.2
Django==5.2.14
django-extensions==4.1
docutils==0.22.4
fastapi==0.125.0
frozenlist==1.8.0
h11==0.16.0
h2==4.4.1
hpack==4.2.0
htmx==0.0.0
httpcore==1.0.9
httpcore2==2.13.1
httptools==0.7.1
httpx==0.28.1
httpx2==2.13.1
hyperframe==6.1.0
idna==3.20
ifaddr==0.2.0
itsdangerous==2.2.0
Jinja2==3.1.6
lxml==6.1.0
lxml_html_clean==0.4.4
markdown2==2.5.5
MarkupSafe==3.0.3
multidict==6.7.1
nicegui==3.12.0
orjson==3.11.9
pillow==12.2.0
propcache==0.5.2
pycparser==3.0
pydantic==2.13.5
pydantic_core==2.46.5
Pygments==2.20.0
python-dotenv==1.2.2
python-engineio==4.13.1
python-multipart==0.0.28
python-socketio==5.16.1
PyYAML==6.0.3
semver==3.1.0
simple-websocket==1.1.0
sqlparse==0.5.5
starlette==0.50.0
tinycss2==1.5.1
truststore==0.10.4
typing-inspection==0.4.4
typing_extensions==4.15.0
tzdata==2026.2
uvicorn==0.46.0
vercel==0.11.4
vercel-cache==0.7.5
vercel-headers==0.7.2
vercel-internal-core==0.2.0
vercel-internal-telemetry==0.8.0
vercel-oidc==0.9.0
vercel-queue==0.9.0
vercel-sandbox==0.7.0
vercel-workflow==0.11.0
watchfiles==1.1.1
webencodings==0.5.1
websockets==16.0
wsproto==1.3.2
yarl==1.23.0
zstandard==0.25.0
